<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column">
    <div>
        <header class="hero">
            <h1 class="app-title">
                <a href="/">Tech Blog</a>
            </h1>
            <nav>
                <button id="logout" class="btn" >Logout</button>
                <button class="btn" > 
                    <a href="/login">Login</a>
                </button>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
        </footer>
    </div>    
    <script src="/javascript/logout.js"></script>
</body>

</html>