<section>
    <h2>Create New Post</h2>

    {{!-- form to create new post --}}
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{!-- view and edit existing posts --}}
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- link to add-post file --}}
<script src="/javascript/add-post.js"></script>