<form class="login-form">
    <div class="card-header">
        <label class="form-label" for="email-login">email:</label>
        <input type="text" id="email-login" class="form-input" />
    </div>
    <div class="card-header">
        <label class="form-label" for="password-login">password:</label>
        <input type="password" id="password-login" class="form-input" />
    </div>
    <div>
        <button type="submit" class="btn-back">Signin</button>
    </div>
</form>

<form class="signup-form">
    <div class="card-header">
        <label class="form-label" for="username-signup">username:</label>
        <input type="text" id="username-signup" class="form-input" />
    </div>
    <div class="card-header">
        <label class="form-label" for="email-signup">email:</label>
        <input type="text" id="email-signup" class="form-input" />
    </div>
    <div class="card-header">
        <label class="form-label" for="password-signup">password:</label>
        <input type="password" id="password-signup" class="form-input" />
    </div>
    <div>
        <button type="submit" class="btn-back">Signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>